alias l='ls -laF --color'
alias ls='ls -aF --color'
alias sup='sudo apt update'
alias yup='sudo apt upgrade -y'
alias up='sudo apt update && sudo apt full-upgrade -y'
alias si='sudo apt install -y'
alias clean='sudo apt autoremove -y && sudo apt clean'
alias sn='sudo nano'
alias rb='sudo reboot'
alias sc='sudo cp'
alias scr='sudo cp -rf'
alias sm='sudo mv'
alias sd='sudo shutdown'
alias sr='sudo rm'
alias srr='sudo rm -rf'
alias s='sudo'
alias n='nano'
alias c='code'
alias v='vim'
alias x='clear'
alias q='exit'
alias hs='history'
alias ap='ansible-playbook'
alias dc='sudo docker-compose up -d'
alias myip='curl https://icanhazip.com'
alias tun='sudo docker exec -it qbittorrent sh -c "curl https://icanhazip.com"'
alias dnsleak='bash /home/ad/dnsleaktest.sh'
# yarn
alias y='yarn'
alias yb='yarn build'
alias ybp='yarn build && yarn preview --host'
alias yd='yarn dev --host'
alias ydf='yarn dev --host --force'
alias yp='yarn preview --host'
# astro
alias yas='yarn astro sync'
alias check='yarn astro check'
# pnpm
alias p='pnpm'
alias pd='pnpm dev --host'
alias pdf='pnpm dev --host --force'

function acp() {
  git add .
  git commit -m "$1"
  git push
}

# Git short-cuts.
function gc() {
  args=$@
  git commit -m "$args"
}
function gca() {
  args=$@
  git commit --amend -m "$args"
}

function gcp() {
  title="$@"
  git commit -am $title && git push -u origin
}

alias g='git'
alias ga='git add'
alias gb='git branch'
alias gbd='git branch -D'
alias gcl='git clone'
alias gch='git checkout'
alias gd='git diff'
alias gdis='git discard'
alias gf='git fetch'
alias gi='git init'
alias gl='git pull'
alias gp='git push'
alias gr='git rm'
alias gs='git status --short'

# Show a directory listing when using 'cd'
function cd() {
    new_directory="$*";
    if [ $# -eq 0 ]; then
        new_directory=${HOME};
    fi;
    builtin cd "${new_directory}" && /bin/ls -aF --color --ignore=lost+found
}